{% extends "layout.html" %}
{% block title %}Ajouter Load Balancer{% endblock %}
{% block content %}

<h2>Ajouter un Load Balancer</h2>
<a href="{{ url_for('loadbalancers') }}" class="btn btn-back">Retour</a>

<form method="POST">
    <label>Nom</label>
    <input type="text" name="name" required placeholder="Ex: Mon LB">
    <label>IP</label>
    <input type="text" name="ip_bind" required placeholder="Ex: 192.168.1.1">
    <label>Pass</label>
    <input type="text" name="pass" required placeholder="Ex: http://localhost:5000">
    <button type="submit" class="btn btn-add">Ajouter</button>
</form>

{% endblock %}