{% extends "layout.html" %}
{% block title %}Détail Load Balancer{% endblock %}
{% block content %}

<h2>{{ loadbalancer.name }}</h2>
<a href="{{ url_for('loadbalancers') }}" class="btn btn-back">Retour</a>
<a href="{{ url_for('loadbalancer_download', id=loadbalancer.id) }}" class="btn btn-add">Télécharger</a>

<pre class="config-block">
http {
    upstream backend {
        server {{ loadbalancer.ip_bind }};
    }

    server {
        location / {
            proxy_pass {{ loadbalancer.pass }};
        }
    }
}
</pre>

{% endblock %}