{% extends "layout.html" %}
{% block title %}Détail Reverse Proxy{% endblock %}
{% block content %}

<h2>{{ reverseproxie.name }}</h2>
<a href="{{ url_for('reverseproxies') }}" class="btn btn-back">Retour</a>
<a href="{{ url_for('reverseproxie_download', id=reverseproxie.id) }}" class="btn btn-add">Télécharger</a>

<pre class="config-block">
http {
    server {
        listen {{ reverseproxie.ip_bind }};

        location / {
            proxy_pass {{ reverseproxie.pass }};
        }
    }
}
</pre>

{% endblock %}