{% extends "layout.html" %}
{% block title %}Détail Webserver{% endblock %}
{% block content %}

<h2>{{ webserver.name }}</h2>
<a href="{{ url_for('webservers') }}" class="btn btn-back">Retour</a>
<a href="{{ url_for('webserver_download', id=webserver.id) }}" class="btn btn-add">Télécharger</a>

<pre class="config-block">
http {
    server {
        listen {{ webserver.port }};
        root {{ webserver.root }};

        location / {
            index index.html index.htm;
        }
    }
}
</pre>

{% endblock %}